Repository LBrinkmann/reward-network-iii: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend, streamlit

.gitlab-ci.yml:

stages:
  - start child pipelines

backend:
  stage: start child pipelines
  trigger:
    include: setup/ci/.gitlab-ci-backend.yml
    strategy: depend
  rules:
    - changes: [backend/*, common/*, config/*, setup/ci/.gitlab-ci-backend.yml, setup/docker/Dockerfile]

frontend:
  stage: start child pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "frontend"
  trigger:
    include: setup/ci/.gitlab-ci-frontend.yml
    strategy: depend
  rules:
    - changes: [frontend/*, common/*, config/*, setup/ci/.gitlab-ci-frontend.yml, setup/docker/Dockerfile-frontend]

streamlit:
  stage: start child pipelines
  trigger:
    include: setup/ci/.gitlab-ci-streamlit.yml
    strategy: depend
  rules:
    - changes: [streamlit/*, common/*, config/*, setup/ci/.gitlab-ci-streamlit.yml, setup/docker/Dockerfile]

Fix instructions.
  frontend/src/components/Trials/Instruction/InstructionContent.ts
Due: none

Add remote simulation.
  analysis/abm_async.ipynb
Due: none

Increase number of workers.
  setup/docker/Dockerfile
Due: backend, streamlit

Correct typos.
  frontend/src/components/Trials/Instruction/InstructionContent.ts
  frontend/src/components/Trials/Trials.tsx
  frontend/src/components/Trials/WrittenStrategy/WrittenStrategy.tsx
Due: none

Update .gitlab-ci-backend.yml
  setup/ci/.gitlab-ci-backend.yml
Due: backend

CI: update backend ci to override version 1.8.5 of deploy pipeline and up memory limit to 2048
  setup/ci/.gitlab-ci-backend.yml
Due: backend

Add statistic endpoint.
  backend/app/routes/results.py
Due: none

Test run remote.
  analysis/abm_async.ipynb
  analysis/eval_response_times.ipynb
  docker-compose.yml
Due: none

Update gitignore.
  analysis/abm_async.ipynb
  analysis/data/.gitignore
Due: none

Update notebooks
  analysis/abm_async.ipynb
  analysis/eval_response_times.ipynb
Due: none

Increase memory.
  setup/ci/.gitlab-ci-backend.yml
Due: backend

Add raw experimental data.
  analysis/data/experiment/raw/sessions.json
Due: none

Fix data download.
  analysis/data/experiment/raw/sessions.json
  analysis/data/experiment/raw/sessions_completed.json
  analysis/data/experiment/raw/sessions_incomplete.json
  analysis/save_data.ipynb
Due: none

Move to lfs.
  analysis/algorithm.ipynb
  analysis/data/experiment/processed/moves.csv
  analysis/data/experiment/processed/player.csv
  analysis/data/experiment/processed/strategy.csv
  analysis/data/experiment/raw/subjects.json
  analysis/data/pilots/reward-network-iii-exp-v2/moves.csv
  analysis/data/pilots/reward-network-iii-exp-v2/player.csv
  analysis/data/pilots/reward-network-iii-exp-v2/strategy.csv
  analysis/data/pilots/sim_test_100_v3/moves.csv
  analysis/data/pilots/sim_test_100_v3/player.csv
  analysis/data/pilots/sim_test_100_v3/strategy.csv
  analysis/plot_network.ipynb
  analysis/process.ipynb
  analysis/trials.json
Due: none

Add visualisation.
  analysis/plot_network.ipynb
  analysis/plot_network_many.ipynb
Due: none

Compute machine alignment.
  README.md
  algorithm/dqn/compute_alignment.ipynb
  algorithm/dqn/dqn_agent.py
  analysis/data/experiment/processed/moves.csv
  analysis/data/experiment/processed/moves_w_alignment.csv
  analysis/process.ipynb
  requirements.txt
  setup/requirements/requirements_train.txt
  setup/requirements/requirements_viz.txt
Due: none

Fix requirements.
  analysis/estimate_values.ipynb
  analysis/plot_network.ipynb
  setup/requirements/requirements_backend.txt
Due: none

set up test github pages
  .github/workflows/experiment_example.yml
  experiment_example_static/bundle.js
  experiment_example_static/bundle.js.LICENSE.txt
  experiment_example_static/bundle.js.map
  experiment_example_static/favicon.ico
  experiment_example_static/index.html
  experiment_example_static/net_practice_example.png
  experiment_example_static/rewards.png
Due: none

Deploying to gh-pages from @ center-for-humans-and-machines/reward-network-iii@736a6917e18294ed49a678fbcaee3254f85fa4f7 🚀
  bundle.js
  bundle.js.LICENSE.txt
  bundle.js.map
  favicon.ico
  index.html
  net_practice_example.png
  rewards.png
Due: none

Add data explorer to streamlit.
  common/solve/rule_based.py
  docker-compose.yml
  frontend/src/components/Network/LinearSolution/LinearSolution.tsx
  frontend/src/components/Network/StaticNetwork/StaticNetwork.tsx
  frontend/src/components/Streamlit/NetworkSL/NetworkSL.tsx
  streamlit/app/app.py
  streamlit/app/network_component/network_component.py
  streamlit/app/pages/00_data_exploration.py
  streamlit/app/pages/01_task_design.py
Due: none
