Repository LBrinkmann/reward-network-iii: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend, streamlit

.gitlab-ci.yml:

stages:
  - start child pipelines

backend:
  stage: start child pipelines
  trigger:
    include: setup/ci/.gitlab-ci-backend.yml
    strategy: depend
  rules:
    - changes: [backend/*, common/*, config/*, setup/ci/.gitlab-ci-backend.yml, setup/docker/Dockerfile]

frontend:
  stage: start child pipelines
  variables:
    CHILD_PIPELINE_EXECUTION_CONTEXT: "frontend"
  trigger:
    include: setup/ci/.gitlab-ci-frontend.yml
    strategy: depend
  rules:
    - changes: [frontend/*, common/*, config/*, setup/ci/.gitlab-ci-frontend.yml, setup/docker/Dockerfile-frontend]

streamlit:
  stage: start child pipelines
  trigger:
    include: setup/ci/.gitlab-ci-streamlit.yml
    strategy: depend
  rules:
    - changes: [streamlit/*, common/*, config/*, setup/ci/.gitlab-ci-streamlit.yml, setup/docker/Dockerfile]

Fix docker image.
  setup/docker/Dockerfile
Due: backend, streamlit

Update ci.
  .gitlab-ci.yml
Due: none

Add database name.
  setup/ci/.gitlab-ci-backend.yml
Due: backend

Cycle through all networks.
  backend/app/study_setup/generate_sessions.py
Due: none

Update instructions.
  frontend/src/components/Trials/Instruction/InstructionContent.ts
Due: none

Update networks.
  data/23_11_16/networks.json
  data/23_11_16/networks.yml
  data/23_11_16/solution.yml
  data/23_11_16/solution__myopic.json
  data/23_11_16/solution__random.json
  data/23_11_16/solution__take_loss.json
Due: none

Fix ci.
  .gitlab-ci.yml
Due: none

Update text.
  README.md
  docker-compose.yml
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Network/LinearSolution/LinearSolution.tsx
  frontend/src/components/Trials/Consent/ConsentForm.tsx
  frontend/src/components/Trials/Instruction/Instruction.tsx
  frontend/src/components/Trials/NetworkTrial/NetworkTrial.tsx
  frontend/src/components/Trials/NetworkTrial/RewardsLegend.tsx
  frontend/src/components/Trials/PlayerInformation/PlayerInformation.tsx
  frontend/src/components/Trials/Practice/Practice.tsx
  frontend/src/components/Trials/Repeat/Repeat.tsx
  frontend/src/components/Trials/Trials.tsx
  frontend/src/components/Tutorial/TutorialTip/TutorialTip.tsx
  frontend/src/components/Tutorial/TutorialTip/TutorialTooltipContent.ts
Due: none

Fix tooltip errpr
  frontend/src/components/Trials/PlayerInformation/PlayerInformation.tsx
  frontend/src/components/Tutorial/TutorialTip/TutorialTip.tsx
  frontend/webpack.config.js
Due: frontend

Small fixes.
  frontend/src/components/Trials/Instruction/Instruction.tsx
Due: none

Update text.
  frontend/src/components/Trials/Trials.tsx
Due: none

update text.
  frontend/src/components/Trials/Instruction/Instruction.tsx
  frontend/src/components/Tutorial/TutorialTip/TutorialTooltipContent.ts
Due: none

Change payment.
  frontend/src/components/Trials/Consent/ConsentForm.tsx
Due: none
